

}

ul{
	padding:0;
	margin:0;
	list-style:none;
	height:36px;
	line-height:36px;
	font-family: Arial,helvetica,sans-sarif;
    font-size: 13px;
}

.navigation{
	display:flex;
	background-color: #24252a;
	justify-content: center;
}

li{
	float:left;
	/*border-right:1px solid ;*/
}
a{
	display:flex;
	padding:0 28;
    color:#fff;
    text-decoration:none;
    transition:ease-out 0.30s;
}
a:hover{
	background-color:blue;


}



