.text{

}



.image
{
background-image:url(image5.jpg);
height:600px;
background-size: cover;



}

ul{
	padding:0;
	margin:0;
	list-style:none;
	height:36px;
	line-height:36px;
    font-size: 13px;
}

.navigation{
	display:flex;
	background-color: #24252a;
	justify-content: center;
}

li{
	float:left;
	/*border-right:1px solid ;
*/}
a{

	display:flex;
	padding:0 28;
    color:grey;
    text-decoration:none;
    transition:ease-out 0.30s;
    font-size:2em;
   

}
a:hover{
     background-color:blue;
	 /*color:#cb3200;*/
     font-size: 30px;


	


}



