.main-grid{
 display: grid;
background-image:url(image5.jpg);
 background-color: #615182;
 height:1000px;
grid-template-columns: repeat(4, 300px);
grid-auto-rows: 100px;
grid-row-gap: 20px;
grid-column-gap: 10px;
padding-left:30px;
padding-top:30px;
/*transition:ease-out 0.30s;*/


/*justify-content:center;*/
}
.item1{
   color: #020d0e;
  background-color:black;
  border-radius:15px 15px 15px 15px;
  grid-row:span 2;
  grid-column:span 2;
 /* height:400px;*/
box-shadow: 5px 5px 10px #d9721f;
  transition: ease-out 0.3s;
}
.item2{
  border-radius:15px 15px 15px 15px;
   grid-row:span 2;
  grid-column:span 2;
box-shadow: 5px 5px 10px #d9721f;
 
  transition:ease-out 0.30s;
  background-color: black;

}
.item3{
  border-radius:15px 15px 15px 15px;
   grid-row:span 2;
  grid-column:span 3;
  background-color: black;
  transition:ease-out 0.30s;
box-shadow:5px 5px 10px #4A52B5 ;
}
.item4{
   grid-row:span 2;
  box-shadow:5px 2px 10px #4A52B5 ;
  border-radius:15px 15px 15px 15px;
  background-color: black;
  transition:ease-out 0.30s;

}
.item5{
  border-radius:15px 15px 15px 15px;
  background-color: black;
  grid-row:span 3;
box-shadow:5px 5px 10px #4A52B5 ;
transition:ease-out 0.30s;
}
.item6{
  grid-column:span 3;
  grid-row:span 3;
  border-radius:15px 15px 15px 15px;
  background-color: black;
box-shadow:5px 5px 10px #4A52B5 ;
transition:ease-out 0.30s;
}
nav{
  background-color: black;
  display:flex;
  justify-content: center;
}


nav ul {

  list-style:none;
  float:right;
  /*margin-right:40px;*/
  padding:0;
  margin:0;
  text-shadow: 5px 2px 10px #4A52B5;
  height:36px;
  line-height:36px;
    font-size: 13px;

}
nav li{
  display:inline-block;
  margin: 0px 8px;
  /*border-right:1px solid ;*/
}
nav a{

  padding:0px 28px;
    color:white;
    text-decoration:none;
    transition:ease-out 0.30s;
    font-size:34px;
   }

.welcome{
  margin-top:-400px;
  display:flex;
  /*background-color: red;*/
  justify-content: center;
  /*align-content: center;*/
}
a:hover{
     font-size: 49px;
}

.item1:hover{
background-color:white;
}

.item2:hover{
background-color:white;
}
.item3:hover{
background-color:white;
}
.item4:hover{
background-color:white;
}

.item5:hover{
background-color:white;
}

.item6:hover{
background-color:white;
}



.checkbtn span{      
  margin:4px;
  height: 9px;
  width:60px;
  background: #d3531a;
  border-radius: 9px;
  cursor:pointer;
  display:none;
    }

#check{ 
 display:none;
                     }
  @media (max-width: 600px) {



    .main-grid{
      padding:50px;
      display:flex;
      height:1200px;
      flex-direction: column;

      


    }
    .item1{
      height:200px;
      width:300px;
    }
    .item2{
      height:200px;
      width:300px;
    }
    .item3{
      height:200px;
      width:300px;
    }

    .item4{
      height:200px;
      width:300px;
    }
    .item5{
      height:200px;
      width:300px;
    }
    .item6{
      width:300px;
      height:200px;
    }
    
     nav ul {
      height:800px;
      margin-top:-22px;
      position:fixed;
      width:100%;
      top:80px;
      text-align:center;
      top:-200%;
      background-color:#ea9215;
      transition:all .5s;

    } 

    nav li{
      display:block;
      padding-bottom:30px;
      border-bottom:solid;
      margin:30px 0;
        box-shadow: 2px 2px 19px ;

    }
    nav{
      
      font-size:30px;
    }
    #check:checked~ul{
         top:90px;
        }
    .checkbtn span{
    display:block;
         }
       }
  @media(max-width: 400px){
    .item1{
      height:200px;
      width:250px;
    }
    .item2{
      height:200px;
      width:250px;
    }
    .item3{
      height:200px;
      width:250px;
    }

    .item4{
      height:200px;
      width:250px;
    }
    .item5{
      height:200px;
      width:250px;
    }
    .item6{
      width:250px;
      height:200px;
    }

  }